.navbar {
  background-image: linear-gradient(90deg, #28b487, #7dd56f);
}
.navbar-brand {
  font-family: "Pacifico";
  font-size: 30px;
}
.nav-link {
  font-family:"Poppins";
  font-size: 20px;
}
#particles-js {
  height: 80vh;
}
#welcome{
    margin-top:150px;
    margin-bottom:50px;
    font-size:60px;
    font-family: "Poppins";
}

.card{
    margin-top:50px;
    margin-bottom:50px;
    background-image: linear-gradient(90deg, #28b487, #7dd56f) !important;
    border-radius:30px;
}
.gradtext{
    background-image: linear-gradient(90deg, #28b487, #7dd56f) !important;
    /* background-clip: text;
    color: transparent;     */
   
}
#docket{
    font-family:"Pacifico"; 
    margin-bottom:300px;
    font-size:150px;   
}
.checkbox {
	opacity: 0;
	position: absolute;

}

.label {
	background-color: rgb(255, 255, 255);
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
    margin-left:30px;
    margin-top: 10px;
    margin-right: 10px;
}

.label .ball {
	background-image: linear-gradient(90deg, #28b487, #7dd56f) !important;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}


.fa-moon {
	color: #f1c40f;
}

.fa-sun {
	color: #f39c12;
}
#down{
    margin-top:50px;
    margin-bottom:50px;
    height:650px;
    width:100%;
    background-image: linear-gradient(90deg, #28b487, #7dd56f) !important;
    padding:200px;
    font-family: "Pacifico"; 
}
#down h1{
    font-size:100px;
    margin-bottom:100px;
}
#down p {
    font-size:20px;
    font-family: "Poppins";
    color:white;
}
#dlink{
    color:#ffffff;
    text-decoration: none;
    font-size:30px;  
    font-family: "Poppins";
}
#dlink:hover{
    text-decoration: underline;
}
.fa-download{
    margin-right:10px;   
}